{% extends "base.html" %}

{% block start %}

<div class="container" style="margin-top: 5%;">
  <div class="card-header" style="margin-right: 5%;
  margin-left: 64%;">
    Top Articles
  </div></div>
  {% for blog in pag_obj %}
  <section class="detail-page" style="
width: 39%;
margin-left: 58%;">
  <div class="container">


  <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{blog.title}}</p>
          <footer class="blockquote-footer">{{blog.user.username}}</cite></footer>
        </blockquote>
      </div>
    </div>
  </div></div>
</section></div>

{% endfor %}
<section style="    margin-top: -37%;
" >
{% for blog in page_obj %}
<div class="container" style="margin-top: 2%;">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <a href="{% url 'blog_detail' blog.slug %}">
          <img src="/media/{{blog.image}}" class="img-fluid rounded-start" alt="...">
        </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p >By - {{blog.user.username}}</p>
          <h5 class="card-title">{{blog.title}}</h5>
          <p class="card-text"><small class="text-muted">{{blog.created_at}}</small></p>
          <a class="btn btn-link pl-0" href="{% url 'blog_detail' blog.slug %}">Read more<i
              class="fa fa-long-arrow-alt-right ml-2"></i></a>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endfor %}

<div class="container">
  <nav aria-label="...">
    <ul class="pagination">

      {% if page_obj.has_previous %}

      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a>
      </li>
      {% endif %}

      <li class="page-item"><a class="page-link" > Page No : {{page_obj.number}} </a></li>

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
      </li>
      {% endif %}


    </ul>
  </nav>
</div>

</div>
</section>
<!-- Footer-->





{% endblock %}